<div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Warning!</h5>
      </div>

      <div class="modal-body">
        <p>Are you sure, you want to exit?</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="notifi_action(false)">Cancel</button>
        <button type="button" class="btn btn-success" (click)="notifi_action(true)">Yes</button>
      </div>

    </div>
</div>