<div class="container">
  <footer class="align-items-center border-top d-flex flex-column flex-md-row gap-2 justify-content-between my-4 py-3">
    <p class="col-md-4 mb-0 text-muted">© 2021 IPharoh, Inc</p>
  
    <a href="/" routerLink="home" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="../../../assets/img/playground.png" width="50" height="50">
    </a>
  
    <ul class="col-md-4 justify-content-center justify-content-md-end nav">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" routerLink="home">Home</a></li>
    </ul>
  </footer>
</div>
